<tr>
    <td>{{test_ID}}</td>
    <td>{{summary}}</td>
    <td>{{number_of_questions}}</td>
    <td>{{name}}</td>
    <td>{{user_name}}</td>
    <td><button class="test-information" type="submit" onclick="location.href='/testInformation/{{test_ID}}'">Take Test</button></td>
</tr>