<div class="page-title">
	Color Information
</div>

<div class="page-content">
	<div class="color-box">
		<style type="text/css">
			background-color: {{color}}
		</style>
		<span class="color-hex-code">{{color}}</span>
	</div>
	
	<div class="percent-chosen-box">
		<span class="red-percent-chosen-text">Red</span><span class="RedPercentChosenValue">% {{redValue}}</span>
		<span class="orange-percent-chosen-text">Orange</span><span class="OrangePercentChosenValue">% {{orangeValue}}</span>
		<span class="yellow-percent-chosen-text">Yellow</span><span class="YellowPercentChosenValue">% {{yellowValue}}</span>
		<span class="green-percent-chosen-text">Green</span><span class="GreenPercentChosenValue">% {{GreenValue}}</span>
		<span class="blue-percent-chosen-text">Blue</span><span class="BluePercentChosenValue">% {{blueValue}}</span>
	</div>
	
	<div class="color-page-tests-results">
		<section id="find-tests-results">
			{{#each findTest}}
				{{> findTestsInfoTemplate}}
			{{/each}}
		</section>
	</div>
</div>