<div class="page-title">
	<span>Test Information</span>
</div>

<div class="page-content">

	<div class="test-name-container">
		<span class="test-name-span">{{testName}}</span>
	</div>
	
	<div class="test-score-container">
		<span class="test-percent-span">%{{testPercent}}</span>
		<span class="test-correct-total-span">{{testCorrect}}/{{testTotal}}</span>
	</div>
	
	<div class="test-summary-container">
		<span class="test-summary-span">{{testSummary}}</span>
	</div>
	
	<div class="question-container">
		<section id="list-of-questions">
			{{#each allQuestions}}
				{{> questionListedTemplate}}
			{{/each}}
		</section>
	</div>

</div>